main, h1{ padding: 1em;}

html{
  background-color: lightblue;
}

img, nav{
  height: 10rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 12px 5px 5px  rgba(0, 0, 255, .2);
}

main p{
  background-color: rgb(207, 230, 238);
}
   

main li{
  border: thin solid black;
  padding: 1em;
  background-color: lightblue;
}

li{
  list-style-type: none; 
}

footer{
  border: thin solid black;
}

h1,p{
  color:orangered
}
